/* index.css */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #212529;
}


/* index.css or App.css */
body.light-mode {
  background-color: #f4f6f9;
  color: #000;
  transition: all 0.3s ease;
}

body.dark-mode {
  background-color: #121212;
  color: #fff;
  transition: all 0.3s ease;
}
